
obj/

eduke32
mapster32
voidsw
voidsw-editor
kenbuild
kenbuild-editor
apps/
test/
*.exe
/*.dll
*.dylib
*.so
*.elf
*.dol
*.x86
*.x64
*.ppc
*.app
*.prx
*.pbp
*.sfo

*.log
*.cache
*.cfg
textures

*.manifest
/*.map
/platform/Windows/*.map
*.pdb
.vs/
.vscode/
*.VC.db
*.VC.opendb
*.sym
/*.con
/platform/Windows/*.con
*.memmap
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.psess
*.vsp
perl.exe.stackdump

xcuserdata/
project.xcworkspace/
*.dSYM/

.DS_Store
